  <div class="row">
    <span *ngFor="let country of countriesList" class="col-md-2" routerLink="/country/{{country.name}}">
      <span class="card" style="display: inline-block">
        <img class="card-img-top" alt="Bootstrap Thumbnail First" style="height: 120px" src="{{country.flag}}">
        <div class="card-block">
          <h5 class="card-title">
            {{country.name}}
          </h5>
          <p class="card-text">
            {{country.region}}
          </p>
        
        </div>
      </span>
    </span>
  </div>
